
.informacion p{
    font-size: 1.5rem;
    display: flex;
    padding: 20px;
    justify-content: center;
}
.informacion img{
    width: 250px;
    height: 450x;
    margin-left: 150px;
}
/*Final info*/

.carrusel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/*Inicio pag prod*/
.paginasproductos{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.paginasproductos img{
    width: 550px;
    height: 750px;
    padding: 4px;
    background-color: black;
}

.paginasproductos p{
    font-size: 1.5rem;
    display: flex;
    padding-bottom: 15px;
    justify-content: space-around;
    }


/*Inicio ubicacion*/
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.parrafo{
    font-size: 2rem;
    text-align: center;}
/*Final ubicacion*/

/*Inicio Footer*/
footer{
    font-size: 1.5rem;
    display: flex;
    border-top: 1px solid gray;
    justify-content: space-around;
}
footer ul{
    list-style-type: none;
}
footer nav ul li a{
    margin: 5px;
    text-decoration: none
}
/*Final footer*/