@import '../utilities/variables';

.remeras1
img{
    width: 90%;
    height: 750px;
    padding: 4px;
    background-color: $fondo-negro;
}


.remeras2{
    @extend .remeras1;
    background-color: white;
}

.remeras3{
    @extend .remeras1;
    background-color: grey;
}