.informacion{
        div{
            p{
            font-size: 1.5rem;
            display: flex;
            padding: 20px;
            justify-content: center;
    
            img{
                width: 250px;
                height: 450px;
                margin-left: 150px;
            }
        }
    }
}