.informacion{
  padding: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

    img{
        height: 320px;
        width: 270px;
        padding: 3px;
    }

    p{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }
}