footer{
    display: flex;
    border-top: 1.5px solid gray;
    justify-content: space-around;

    ul{
        @extend ul;
    }

    nav{
        ul{
            li{
                a{
                    margin: 5px;
                    text-decoration: none;
                }
            }
        }
    }
}