footer{
    display: flex;
    border-top: 1.5px solid gray;
    justify-content: space-around;

    ul{
        list-style-type: none;
    }

    nav{
        ul{
            li{
                a{
                    @include config
                }
            }
        }
    }
}