@import '../utilities/variables';

.portadas{
    padding: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    

        img{
            height: 650px;
            width: 90%;
            padding: 3px;
            background-color:$fondo-negro;
        }

        ul{
            list-style-type: none;
        }

        nav{
            ul{
                li{
                    a{
                        @include config;
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        transition: all 1s;
                        &:hover{
                            font-size: 3rem;
                        }

                    }
                }
            }
        }
}